@page "/ViewSegundoParcial"
@page "/ViewSegundoParcial/segundoParcialId={segundoParcialId:int}"
@inject NavigationManager navigation
@inject HttpClient httpClient

<h3>View</h3>

@code {
	[Parameter]
	public int segundoParcialId { get; set; }

	public void Volver()
	{
		navigation.NavigateTo("/SegundoParcial");
	}
}
